[user]
    name = Takuma Tomori
    email = tmrtkm1227tksx@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.config/git/.gitignore_global
    pager = delta
[color]
    ui = auto
[alias]
    a = add
    st = status
    br = branch
    ba = branch -a
    me = branch --show-current
    co = checkout
    coo = "!f() { \
        b=$(git branch --format='%(refname:short)' | fzf); \
        s=$?; \
        [ $s -eq 0 ] && [ -n \"$b\" ] && git checkout \"$b\"; \
    }; f"
    coa = "!f() { \
        b=$(git branch --all --format='%(refname:short)' | fzf); \
        s=$?; \
        [ $s -eq 0 ] && [ -n \"$b\" ] && git checkout \"$b\"; \
    }; f"
    ci = commit
    d = diff
    ds = diff --staged
    rv = remote -v
    ss = stash save
    sp = stash pop
    sl = stash list
    log1 = log -n 1
    log2 = log -n 2
    log3 = log -n 3
    log4 = log -n 4
    log5 = log -n 5
[init]
    defaultBranch = main
[commit]
    template = ~/.config/git/.commit_template
[pull]
    rebase = false
    ff = only
[rebase]
	autostash = true

[delta]
    navigate = true
    keep-plus-minus-markers = true
    dark = true
    side-by-side = true
    true-color = always
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [M]
    file-removed-label = [-]
    file-renamed-label = [->]
    file-style = "#ff9b00" ul bold
    file-decoration-style = "#ea00ff" box ul
    zero-style = syntax
    syntax-theme = Solarized (dark)
    commit-decoration-style ="#ea00ff" ul
    hunk-header-decoration-style = omit
    hunk-header-file-style = "#ff9b00" ul bold
    hunk-header-line-number-style = "#ffd21a" bold
    hunk-header-style = line-number syntax bold italic
    line-numbers = true
    line-numbers-left-format = "{nm:>1}|"
    line-numbers-left-style = "#ea00ff"
    line-numbers-minus-style = "#ff0051" bold
    line-numbers-plus-style = "#1ac71e" bold
    line-numbers-right-format = "{np:>1}|"
    line-numbers-right-style = "#ea00ff"
    line-numbers-zero-style = "#aaaaaa" italic
    minus-emph-style = syntax bold "#b80000"
    minus-style = syntax "#5d001e"
    plus-emph-style = syntax bold "#1a861a"
    plus-style = syntax "#2a5e37"
    whitespace-error-style = "#280050"
    wrap-max-lines = unlimited
    wrap-right-percent = 1
