[user]
    name = Takuma Tomori
    email = tmrtkm1227tksx@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.config/git/.gitignore_global
[color]
    ui = auto
[alias]
    st = status
    br = branch
    ba = branch -a
    me = branch --show-current
    co = checkout
    ci = commit
    d = diff
    ds = diff --staged
    rv = remote -v
    log1 = log -n 1
    log2 = log -n 2
    log3 = log -n 3
    log4 = log -n 4
    log5 = log -n 5
[init]
    defaultBranch = main
[commit]
    template = ~/.config/git/.commit_template
[pull]
    rebase = false
    ff = only
